{{> header admin=admin }}
{{> sidebar }}
<main class="purple-main" style="align-items:flex-start; padding-top:32px;">
  <div class="pbubble pb1"></div>
  <div class="pbubble pb2"></div>
  <div class="pbubble pb3"></div>
  <div style="position:relative;z-index:2;width:100%;">
    <div class="table-scroll-wrap">
      <table class="dealer-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Dealer Name</th>
            <th>Region</th>
            <th>Pic Uploaded</th>
            <th>Action</th>
          </tr>
        </thead>


        <tbody>
          {{#each dealers}}
          <tr>
            <td>{{@index}}</td>
            <td>{{this.fullname}}</td>
            <td>{{this.region}}</td>
            <td>
              {{#if this.shop_image}}
              <span style="color:#2e7d32;font-weight:600;">Yes</span>
              {{else}}
              <span style="color:#c62828;font-weight:600;">No</span>
              {{/if}}
            </td>
            <td>
              <a href="/admin/dealerdetail/{{this.id}}" class="view-link">View</a>
            </td>
          </tr>
          {{/each}}
        </tbody>


      </table>
    </div>
  </div>
</main>
{{> footer }}